<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/bootstrap-grid.css">
    <title>Twitter</title>
</head>

<body>
    <div class="row ">
        <div class="col">
            <article>
                <div class="row border" id="rightNav">
                    <div class="col">
                        <div id="logo-twitter">
                            <img src="/static/assets/logo.png" alt="" id="logo">
                        </div>

                    </div>

                </div>
                <!-- Twitter Logo -->
                <div class="row border">
                    <div class="col">
                        <div class="container p-5" id="menuDiv">
                            <ul>
                                <li>Home</li>
                                <li>Explore</li>
                                <li>Notification</li>
                                <li>Messages</li>
                                <li>Twitter Blue</li>
                                <li>Profile</li>
                                <li>More</li>
                            </ul>


                        </div>
                        <div id="menu" class="">
                            <button id="tweetButton">Tweet Button</button>
                        </div>

                    </div>

                </div>
                <div class="row border">
                    <div class="col">
                        <div id="profileBottom">
                            <div class="row">
                                <div class="col">
                                    <img src="/static/assets/testUser.webp" alt="" id="userImage">

                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <p>profileName</p>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p>@profileName</p>
                                        </div>

                                    </div>


                                </div>
                                <div class="col">
                                    <p>***</p>

                                </div>

                            </div>


                        </div>

                    </div>

                </div>



            </article>


        </div>
        <div class="col border">
            <div class="row">
                <div class="col">
                    <h1>Home</h1>


                </div>

            </div>
            <div class="col">
                <div class="row" id="homeTab">
                    <div class="col">
                        <p>For you</p>

                    </div>
                    <div class="col">
                        <p>Following</p>

                    </div>

                </div>

            </div>
            <!-- Tweet section -->
            <div class="col">
                <div class="row border">
                    <div class="col-3">
                        <img src="/static/assets/testUser.webp" alt="" id="userImage">

                    </div>
                    <div class="col">
                        <form action="">
                            <input type="text" name="tweet" id="tweet">
                        </form>

                    </div>


                </div>
                <div class="row border">
                    <div class="col-3">

                    </div>
                    <div class="col">
                        <p>This is for every icon tweet</p>

                    </div>
                    <div class="col">
                        <button id="tweetButton-sm">Tweet button</button>

                    </div>

                </div>
                <div class="row border">
                    <div class="col-3">
                        <!-- profilePicture for tweet -->
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>

                        </div>
                        <div class="row">
                            <div class="col">
                                <textarea name="" id="" cols="30" rows="10"></textarea>


                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            icon here

                        </div>

                    </div>


                </div>


            </div>

        </div>
        <div class="col" id="rightestSide">
            <div class="row">
                <div class="col">
                    <input type="text" name="searchBar" id="searchBar">

                </div>

            </div>
            <div class="row">
                <div class="col">
                    <h3>Trends For You</h3>

                </div>

            </div>
            <div class="row border">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            Trending

                        </div>


                    </div>
                    <div class="row">
                        <div class="col">
                            Lakers in 5

                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            1.192 Tweets

                        </div>

                    </div>

                </div>
                <div class="col-2">
                    <p>***</p>

                </div>

            </div>
            <div class="row border">
                <div class="row">
                    <div class="col">
                        <h3>Who to follow</h3>

                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-2">
                                <img src="/static/assets/testUser.webp" alt="" id="userImage">


                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="row">
                                        <div class="col">
                                            <h6>User Name</h6>
                                            <h6>@username</h6>


                                        </div>



                                    </div>


                                </div>


                            </div>
                            <div class="col-2">
                                <button>Follow</button>

                            </div>

                        </div>

                    </div>

                </div>


            </div>


        </div>

    </div>

</body>

</html>